{
  "name": "@sterliakov/toggl-tracker",
  "version": "${VERSION}",
  "bin": "index.js",
  "optionalDependencies": {
    "@sterliakov/toggl-tracker-linux-x64": "${VERSION}",
    "@sterliakov/toggl-tracker-linux-arm64": "${VERSION}",
    "@sterliakov/toggl-tracker-darwin-x64": "${VERSION}",
    "@sterliakov/toggl-tracker-darwin-arm64": "${VERSION}",
    "@sterliakov/toggl-tracker-windows-x64": "${VERSION}",
    "@sterliakov/toggl-tracker-windows-arm64": "${VERSION}"
  },
  "description": "A simple cross-platform GUI for Toggl tracker API.",
  "keywords": ["gui", "time-tracking", "time-tracker", "freelance"],
  "homepage": "https://github.com/sterliakov/toggl",
  "bugs": {
    "url": "https://github.com/sterliakov/toggl"
  },
  "license": "MIT",
  "author": "Stanislav Terliakov <terlya.stas@gmail.com>",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/sterliakov/toggl.git"
  }
}
