{
  "name": "${node_pkg}",
  "version": "${VERSION}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "description": "A simple cross-platform GUI for Toggl tracker API (sub-package for ${node_os} on ${node_arch}).",
  "homepage": "https://github.com/sterliakov/toggl",
  "bugs": {
    "url": "https://github.com/sterliakov/toggl"
  },
  "license": "MIT",
  "author": "Stanislav Terliakov <terlya.stas@gmail.com>",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/sterliakov/toggl.git"
  }
}
